.app-list {
    margin-top: 4px;
    padding: 1px;
    background-color: #2278b5;
    border-radius: 10px;
    border: solid 0px #060404a8;
    box-shadow: 0px 0px 2px 0px #2278b5;
    color: #fff;
}
.empty{
    font-size: 22px;
    text-align: center;
    padding: 20px
}

@media(max-width:768px){
   .app-list .list-group{
        display: grid;
    }
}