.btn-group {
    margin-top: 20px;

}

.button {
    background: #fff;
    margin: 5px;
}




@media (max-width:768px) {

    .btn-group {
        display: flex;
        flex-direction: column;
    }

    .btn-group .button {
        margin: 0;
        margin-top: 5px;
    }

    /* .btn-group .btn {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-radius: 5px;
    } */
    .btn-group>.btn:not(:last-child):not(.dropdown-toggle){
        border-radius: 5px;
    }
    .btn-group>.btn:nth-child(n+3), .btn-group>:not(.btn-check)+.btn {
        border-radius: 5px;
    }
}
